<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Epidoughdus</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <script src="https://kit.fontawesome.com/a10fe32bdc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header-background">
    <h1>Epidoughdus</h1>
        <div class="topnav">
            <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="/Flavors/Index"><i class="fa fa-fw fa-utensils icons"></i> Flavors</a>
            <a href="/Treats/Index"><i class="fa fa-fw fa-cookie icons"></i> Treats</a>
            <a href="/Accounts/Index"><i class="fa fa-fw fa-user-circle icons"></i> Accounts</a>
            <div class="search-container">
                <form action="/Search" method="post">
                    <input type="text" placeholder="Search Treats" name="search">
                    <button type="submit" formaction="/Search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="home-button">
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
  </body>
</html>
