@{
  Layout = "_Layout";
}

@model Epidoughdus.Models.Flavor

<h3>Add A New Flavor</h3>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    <input type="submit" value="Add new flavor" class="btn btn-info" />
}
<p>@Html.ActionLink("Show All Flavors", "Index", new {}, new {@class = "html-links"}) </p>