
@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h3>Hello @User.Identity.Name!</h3>
    @using (Html.BeginForm("LogOff", "Accounts"))
    {
        <input type="submit" class="btn btn-info" value="Log out" />
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register", new {}, new {@class = "html-links"})</p>
    <p>@Html.ActionLink("Log in", "Login", new {}, new {@class = "html-links"})</p>
    <p>@Html.ActionLink("Home", "Index", "Home", new {@class = "html-links"})</p>
}