@{
  Layout = "_Layout";
}

@using Epidoughdus.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr/>
<div class="form-group col-md-6">
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email, "Email: ")
    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})

    @Html.LabelFor(m => m.Password, "Password: ")
    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})

    <input type="submit" value="Log in" class="btn btn-info" />
}
</div>